@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* TODO: buttons hover, and active states, add color variables and css nesting */

main {
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 52px;
  margin: 10px;
}

h2 {
  font-weight: 100;
  color: #468cc8;
}

button {
    border: none;
    border-radius: 3px;
    font-weight: bold;
    outline: 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

button.primary {
  background-color: #d54f0c;
  color: white;
}

button.secondary {
  background: transparent;
  color: #468cc8;
  text-decoration: underline;
}

button.secondary--alternative {
  background: transparent;
  color: #031f48;
  text-decoration: underline;
}

.about {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.as-seen {
  margin-bottom: 40px;
}

/* Slick carousel */

.slick-track {
  display: flex;
  gap: 1rem;
}

.slick-prev, .slick-next {
  z-index: 100;
  width: 30px;
  height: 30px;
}

.slick-next{
  right: 20px;
}

.slick-prev{
  left: 20px;
}